---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "$HOME Page of Joar | Developer and Water Enjoyer";
const pageDesc = `Welcome to the page! I am a software engineer, developer, map game enjoyer, water enjoyer and occasional stizparty-toastmaster.`;
const htmlTitle = "$HOME";
---

<html lang="en">
  <BaseLayout htmlTitle={htmlTitle} pageDescription={pageDesc} pageTitle={pageTitle} htmlDescription={pageDesc}>
    <div class="flex flex-col flex-warp sm:flex-row h-1/2 mt-6">
      <section class="bg-nord4 dark:bg-nord1 flex-1 mx-3 h-full my-2 grow-1 justify-center"> 
        <div class="border rounded-md border-nord11 h-3/4 p-6 text-center">
          <h2 class="text-xl font-bold mb-3">About Me</h2>
          <p class="text-black dark:text-slate-300">
            I'm Joar, software engineer and developer. 
            When I'm not studying computer engineering at university, 
            I either dabble in various software technologies and experiment with new projects or 
            might even be getting paid to program (job).
          </p>
          <div class="mt-4">
            <a 
              href="about/"
              target="_blank" 
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord11 to-nord10 transition duration-300 ease-in-out"
            >
              More about me ->
            </a>
          </div>
        </div>
      </section>
      <section class="bg-nord4 dark:bg-nord1 flex-1 mx-3 h-full my-2 grow-1 justify-center"> 
        <div class="border rounded-md border-nord12 h-3/4 p-6 text-center">
          <h2 class="text-xl font-bold mb-3">My Skills & Projects</h2>
          <p class="text-black dark:text-slate-300">
            PHP&Laravel enjoyer. (Not legally or officially) Certified Vue-tiful Person. 
            General Web Development Enjoyer. Occasional AI Dabbler. Penguin Power. Learning to
            design UI that does not act as sandpaper on the eyes
          </p>
          <div class="mt-4">
            <a href="https://www.github.com/JoarSabel" 
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord12 to-nord10 transition duration-300 ease-in-out"
            >
              View my projects
            </a>
          </div>
        </div>
      </section>
      <section class="bg-nord4 dark:bg-nord1 flex-1 mx-3 h-full my-2 grow-1 justify-center"> 
        <div class="border rounded-md border-nord14 h-3/4 p-6 text-center">
          <h2 class="text-xl font-bold mb-3">My Passion</h2>
          <p class="text-black dark:text-slate-300">
            I've always been fascinated by problem-solving and the potential of technology. 
            I love solving every day problems using technology, and also non-every-day problems, so just problems in general I guess.
          </p>
          <div class="mt-4">
            <a href="blog/" class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord14 to-nord10 transition duration-300 ease-in-out">
              My lastest posts
            </a>
          </div>
        </div>
      </section>
    </div>

    <!--Section Separator-->
    <div class="flex flex-col flex-warp sm:flex-row sm:mx-32">
      <section class="bg-nord4 dark:bg-nord1 flex-1 mx-3 h-full my-2 grow-1 justify-center"> 
        <div class="border rounded-md border-nord15 p-6 text-center">
          <h2 class="text-xl font-bold mb-3">Some Social Media Thing?</h2>
          <p class="text-black dark:text-slate-300">
            This is a box where social media things will go in the future. I think.
          </p>
          <div class="mt-4">
            <a 
              href="https://www.github.com/JoarSabel" 
              target="_blank" 
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord15 to-nord10 transition duration-300 ease-in-out"
            >
              Connect with me
            </a>
          </div>
        </div>
      </section>
      <section class="bg-nord4 dark:bg-nord1 flex-1 mx-3 h-full my-2 grow-1 justify-center"> 
        <div class="border rounded-md border-nord10 p-6 text-center">
          <h2 class="text-xl font-bold mb-3">Other contact info/TBI</h2>
          <p class="text-black dark:text-slate-300">
            Can't decide on this section yet but five boxes look good so I will have to have 5 of them.
          </p>
          <div class="mt-4">
            <a 
              href="https://www.github.com/JoarSabel" 
              target="_blank" 
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord3 to-nord10 transition duration-300 ease-in-out"
            >
              Connect with me
            </a>
          </div>
        </div>
      </section>
    </div>
  </BaseLayout>
</html>
