---
const platform = 'github';
const username = 'bob';
---

<footer class="bg-nord5 dark:bg-nord1 border border-nord2">
  <div class="flex flex-row">
    <div class="flex flex-col flex-1">
      <span> More stuff on <a href={`https://www.${platform}.com/${username}`}>githoob</a>! </span>
    </div>

    <div class="flex flex-col flex-1">
      <span> TEMP </span>
    </div>
    <div class="flex flex-col flex-1">
      <span> TEMP 2 </span>
    </div>
  </div>
</footer>
