---
---
<header class="flex flex-row bg-nord1 border-b-2 border-nord2 px-2 py-1 fixed z-10 w-full shadow-md pb-1 text-center justify-center">
  <div class="flex flex-row">
    <a class="mr-2 text-2xl p-1 hover:bg-nord11 rounded transition-all duration-500 mt-1 mb-1" href="/">Home</a>
    <a class="mr-2 text-2xl p-1 hover:bg-nord11 rounded transition-all duration-500 mt-1 mb-1" href="/about/">About</a>
    <div>
      <a class="mr-2 text-5xl p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600" href="/">joar.a.developer</a>
      <p class="italic text-slate-400">I'm a hwot?</p>
    </div>
    <a class="mr-2 text-2xl p-1 hover:bg-nord11 rounded transition-all duration-500 mt-1 mb-1 " href="/blog/">Blog</a>
    <a class="mr-2 text-2xl p-1 hover:bg-nord11 rounded transition-all duration-500 mt-1 mb-1 " href="/term/">Term</a>
  </div>
</header>

<script>
  let button = document.querySelector('#myButton');
  button?.addEventListener('click', function() {
   let event = new CustomEvent('buttonClicked', 
      { 
        detail: { message: 'Button was clicked!' }, 
        bubbles: true,
        cancelable: true
      });
   window.dispatchEvent(event);
  });
</script>
