---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header
  class="flex flex-row bg-nord4 dark:bg-nord1 border-b-2 border-nord2 px-2 py-1 md:fixed z-10 w-3/4 shadow-xl pb-1 text-center md:justify-center rounded-full mt-1"
>
  <nav class="w-full">
    <div class="hidden md:flex flex-row w-full justify-between">
      <div class="flex flex-row ml-6">
        <a
          class="group text-2xl mr-2 p-1 mt-2 mb-3 pt-2 transition-all duration-300 ease-in-out"
          href="/"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-nord11 to-nord11 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            Home
          </span>
        </a>
        <a
          class="group text-2xl mr-2 p-1 mt-2 mb-3 pt-2 transition-all duration-300 ease-in-out"
          href="/about/"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-nord10 to-nord10 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            About
          </span>
        </a>
      </div>
      <div class="content-center">
        <a
          class="text-5xl p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600"
          href="/">JS</a
        >
      </div>
      <div class="flex flex-row mr-6">
        <a
          class="group text-2xl mr-2 p-1 mt-2 mb-3 pt-2 transition-all duration-300 ease-in-out"
          href="/blog/"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-nord15 to-nord15 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            Blog
          </span>
        </a>
        <a
          class="group text-2xl mr-2 p-1 mt-2 mb-3 pt-2 transition-all duration-300 ease-in-out"
          href="/term/"
        >
          <span
            class="bg-left-bottom bg-gradient-to-r from-nord14 to-nord14 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >
            Term
          </span>
        </a>
        <div class="mt-2 mb-3 pt-2">
          <ThemeIcon />
        </div>
      </div>
    </div>

    <div
      class="dropdown-menu flex hidden flex-col absolute bg-nord1 border border-nord2 text-left mt-16"
    >
      <a class="group mb-2 transition-all duration-300 ease-in-out" href="/">
        <span
          class="p-2 bg-left-bottom bg-gradient-to-r from-nord11 to-nord11 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >
          Home
        </span>
      </a>
      <a
        class="group mb-2 transition-all duration-300 ease-in-out"
        href="/about/"
      >
        <span
          class="p-2 bg-left-bottom bg-gradient-to-r from-nord10 to-nord10 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >
          About
        </span>
      </a>
      <a
        class="group mb-2 transition-all duration-300 ease-in-out"
        href="/blog/"
      >
        <span
          class="p-2 bg-left-bottom bg-gradient-to-r from-nord15 to-nord15 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >
          Blog
        </span>
      </a>
      <a
        class="group mb-2 transition-all duration-300 ease-in-out"
        href="/term/"
      >
        <span
          class="p-2 bg-left-bottom bg-gradient-to-r from-nord14 to-nord14 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >
          Term
        </span>
      </a>
      <ThemeIcon />
    </div>
    <div class="flex md:hidden flex-row">
      <button
        class="md:hidden focus:outline-none"
        id="dropdown-toggle"
        aria-label="dropdown-toggle"
      >
        <svg
          class="h-6 w-6 text-slate-300"
          fill="none"
          viewBox="0 0 20 20"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <div>
        <a
          class="mr-2 text-4xl p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600"
          href="/">JS</a
        >
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const dropdownToggle = document.getElementById("dropdown-toggle");
    const dropdownMenu = document.querySelector(".dropdown-menu");

    if (!dropdownToggle || !dropdownMenu) {
      return;
    }
    dropdownToggle.addEventListener("click", function () {
      dropdownMenu.classList.toggle("hidden");
    });
  });
</script>
