---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl max-w-full 
  prose-a:text-nord8 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline prose-strong:text-nord11">
  <slot />
</div>
